<header style="margin-bottom: 6rem">
	<div class="navbar navbar-dark bg-dark navbar-inverse fixed-top py-3">
		<div class="navbar-header d-flex flex-row">
			<a class="navbar-brand mx-5" href="inicio">
				<img src="../static/images/Logo.png" alt="Logo veterinaria" width="50" height="50">
			</a>
			<a class="navbar-brand my-auto" href="/Especies">Especies</a>        	            
			<a class="navbar-brand my-auto" href="/Razas">Razas</a>
			<a class="navbar-brand my-auto" href="/Veterinarios">Veterinarios</a>
			<a class="navbar-brand my-auto" href="/Practicas">Practicas</a>             	            
			<a class="navbar-brand my-auto" href="/Clientes">Clientes</a>             	                     	            
			<a class="navbar-brand my-auto" href="/Proveedores">Proveedores</a>
			<a class="navbar-brand my-auto" href="/ProductosAdmin">Productos</a>
			<a class="navbar-brand my-auto" href="/Reservas">Reservar productos</a>
			
		</div>
	</div>  
</header>