<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon.png">
	<title>Inicio</title>

	<link rel="stylesheet" href="../../static/lib/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css">
	<link rel="stylesheet" href="../../static/lib/datatables/media/css/dataTables.bootstrap4.css">
	<div th:replace="Shared/Styles:: styles"></div>
</head>

<body class="fix-header fix-sidebar card-no-border mini-sidebar">
	<div th:replace="Shared/Preloader:: preloader"></div>

	<div id="main-wrapper">
		<div th:replace="Shared/Header:: header"></div>
		<div th:replace="Shared/Aside:: aside"></div>

		<main class="page-wrapper">
			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Bread crumb and right sidebar toggle -->
				<!-- ============================================================== -->
				<div class="row page-titles">
					<div class="col-md-5 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Clientes</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Inicio</a></li>
							<li class="breadcrumb-item"><a href="/Clientes/Index">Clientes</a></li>
							<li class="breadcrumb-item active">Detalles</li>
						</ol>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End Bread crumb and right sidebar toggle -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<!-- Modal Mascotas-->
				<div class="modal fade" id="modalCreateMascota" data-backdrop="static" data-keyboard="false" tabindex="-1"
					aria-hidden="true">
					<div id="formContainerM" class="modal-dialog">
						<form action="/Mascotas" method="POST" id="form-createM">
							<input type="hidden" name="id" value="" />
							<input type="hidden" name="idCliente" th:value="${cliente.ID}" />
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalTitleM"></h5>
									<button id="btnCloseModalCreate" type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtNombre" class="mb-0">Nombre: </label>
													<input id="txtNombre" name="nombre" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtNacimiento" class="mb-0">Fecha de naciemiento: </label>
													<input id="txtNacimiento" name="nacimiento" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="comboSexo" class="mb-0">Sexo: </label>
													<select id="comboSexo" name="comboSexo" class="form-select  form-control ">
														<option value="" disabled selected>Seleccione un sexo</option>
														<option value="m">M</option>
														<option value="f">F</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="comboRazas" class="mb-0">Raza: </label>
													<select id="comboRazas" name="comboRazas" class="form-control form-select">
														<option value='' disabled selected>Seleccione una raza</option>
														<option th:each="raza : ${razas}" th:text="${raza.descripcion}"
															th:value="${raza.ID}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
									<button id="btnSendModalM" type="button"
										class="btn btn-success waves-effect waves-light">Agregar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<!-- Modal Atenciones-->
				<div class="modal fade" id="modalCreateAtencion" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
					<div id="formContainerA" class="modal-dialog">
						<form action="/Atenciones" method="post" id="form-createA">
							<input type="hidden" name="id" value="" />
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalTitleA"></h5>
									<button id="btnCloseModalCreate" type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="comboMascotas" class="mb-0">Mascota:</label>
													<select id="comboMascotas" name="comboMascotas" class="form-control form-select">
														<option value='' disabled selected>Seleccione una mascota</option>
														<option th:each="mascota : ${mascotas}" th:text="${mascota.nombre}"
															th:value="${mascota.ID}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="comboPracticas" class="mb-0">Practicas:</label>
													<select id="comboPracticas" multiple name="comboPracticas"
														class="form-control form-select">
														<option value='' disabled ><strong>Seleccione una o varias prácticas</strong> 
														</option>
														<option  th:each="practica : ${practicas}" th:text="${practica.descripcion}"
															th:value="${practica.ID}"></option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtAtencion" class="mb-0">Fecha de atención:</label>
													<input id="txtAtencion" name="atencion" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtPago" class="mb-0">Fecha de pago:</label>
													<input id="txtPago" name="pago" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
									<button id="btnSendModalA" type="button" class="btn btn-success waves-effect waves-light">Agregar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<h1 class="text-center mt-4" th:text="'Ficha de ' + ${cliente.apellido} + ', ' + ${cliente.nombre}"></h1>
				<hr class="mb-5" />

				<!-- TARJETAS -->
				<div class="row">
					<div class="col-12 col-xl-8">
						<!-- Tarjetas Mascotas -->						
						<h2 class="text-center mb-4">Mascotas</h2>
						<div id="tarjetasMascotas" class="row justify-content-center">
							<div th:each="mascota : ${mascotas}" class='card mx-2 mb-4'>
								<div class='card-body d-flex flex-column'>
									<h4 class='card-title'>Nombre: <span th:text="${mascota.nombre}"></span></h4>
									<h4 class='card-title'>Especie: <span th:text="${mascota.raza.especie.descripcion}"></span></h4>
									<p class='card-text'>Raza: <span th:text="${mascota.raza.descripcion}"></span></p>
									<p class='card-text'>Fecha de nacimiento: <span th:text="${mascota.nacimiento}" class="format-date"></span></p>
									<p class='card-text'>Sexo: <span th:text="${mascota.sexo}"></span></p>
									<div class='d-flex justify-content-between mt-auto'>
										<button class='btn btn-outline-dark' th:attr="data-mascota=${mascota.toJson()}" onclick="editM(this.getAttribute('data-mascota'),'mascota')" data-toggle='modal' data-target='#modalCreateMascota'>
											<i class="bi bi-pencil"></i>
										</button>
										<button class='btn btn-danger' th:attr="mascota-id=${mascota.ID}"
											onclick="deleteObj(this.getAttribute('mascota-id'),'mascota')">
											<i class='bi bi-trash3'></i>
										</button>
									</div>
								</div>
							</div>
							<br />
						</div>
					</div>

					<!-- DATOS DEL CLIENTE -->
					<div class="col-12 col-xl-4">
						<div class="card shadow" style="background-color: #ebebeb73">
							<div class="card-header bg-white border-0">
								<div class="row align-items-center">
									<div class="col-8">
										<h3 class="mb-0">Cliente</h3>
									</div>
									<div class="col-4 d-flex flex-row justify-content-end">
										<button id="btnAddMascota" type="button" class="btn btn-sm btn-outline-info btn-rounded px-5" data-toggle="modal" data-target="#modalCreateMascota">
											Agregar mascota
										</button>
										<button id="btnAddAtencion" type="button" class="btn btn-sm btn-outline-info btn-rounded px-5 ml-4" data-toggle="modal" data-target="#modalCreateAtencion">
											Nueva atención
										</button>
									</div>
								</div>
							</div>
							<div class="card-body">
								<h6 class="heading-small text-muted mb-4">Datos personales</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" >DNI</label>
												<input disabled class="form-control form-control-alternative" th:value="${cliente.dni}">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" >Teléfono</label>
												<input disabled class="form-control form-control-alternative" th:value="${cliente.telefono}">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label class="form-control-label">Dirección</label>
												<input disabled type="text"class="form-control form-control-alternative" th:value="${cliente.direccion}">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label class="form-control-label">Email</label>
												<input disabled type="text"class="form-control form-control-alternative" th:value="${cliente.user.email}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<hr class="mt-5">
						<!-- Tarjetas Atenciones -->
						<h2 class="text-center mb-4">Atenciones</h2>
						<div id="tarjetasAtenciones" class="row justify-content-center">
							<div th:each="atencion : ${atenciones}" class='card mx-2 mb-4'>
								<div class='card-body d-flex flex-column'>
									<div th:with="totalSuma=0"></div>
									<div th:text="${totalSuma}"></div>
									<h4 class='card-title'>Mascota: <span th:text="${atencion.mascota.nombre}"></span></h4>
									<h4 class='card-title'>Veterinario: <span th:text="${atencion.veterinario.nombre}"></span></h4>
									<p class='card-text mb-0'>Practicas:</p>
									<ul>
										<li th:each="practicaAtencion : ${atencion.practicasAtenciones}" th:text="${practicaAtencion.practica.descripcion} + ' - $' + ${practicaAtencion.precioPactado}">
											<div th:with="totalSuma=${totalSuma + practicaAtencion.precioPactado}"></div>
										</li>
									</ul>
									<!-- <p class="card-text">Total: <span th:text="${totalSuma}"></span></p> -->
									<p class='card-text'>Fecha de atención: <span th:text="${atencion.fechaAtencion}" class="format-date"></span></p>
									<p class='card-text'>Fecha de pago: 
										<span th:if="${atencion.fechaPago == null or atencion.fechaPago == ''}" ><b>No se ha pagado</b></span>
										<span tth:else>
											<span th:text="${atencion.fechaPago}" class="format-date" ></span>
										</span></p>
									<div class='d-flex justify-content-between mt-auto'>
										<button class='btn btn-outline-dark' th:attr="data-atencion=${atencion.toJson()}" onclick="editA(this.getAttribute('data-atencion'),'atencion')" data-toggle='modal' data-target='#modalCreateAtencion'>
											<i class="bi bi-pencil"></i>
										</button>
										<button class='btn btn-danger' th:attr="atencion-id=${atencion.ID}" onclick="deleteObj(this.getAttribute('atencion-id'),'atencion')">
											<i class='bi bi-trash3'></i>
										</button>
									</div>
								</div>
							</div>
					
						</div>
					</div>
				</div>
				
				<form id="form-delete" method="DELETE" action="">
					<input type="hidden" name="id" value="">
				</form>
			</div>
		</main>
		<div th:replace="Shared/Footer :: footer"></div>
		<div th:replace="Shared/Scripts:: scripts"></div>


		<!-- ACÁ VAN LOS SCRIPTS PROPIOS DE LA PÁGINA -->
		<script src="../../static/lib/moment/moment-with-locales.js"></script>
		<script src="../../static/lib/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
		<script src="../../static/lib/datatables/datatables.min.js"></script>
		<script src="../../static/js/custom/Clientes/details.js"></script>
	</div>
</body>

</html>