<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon.png">
	<title>Inicio</title>

	<div th:replace="Shared/Styles:: styles"></div>
</head>

<body class="fix-header fix-sidebar card-no-border mini-sidebar">
	<div th:replace="Shared/Preloader:: preloader"></div>

	<div id="main-wrapper">
		<div th:replace="Shared/Header:: header"></div>
		<div th:replace="Shared/Aside:: aside"></div>

		<main class="page-wrapper">
			<!-- Acá va el contenido de cada página -->

			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Bread crumb and right sidebar toggle -->
				<!-- ============================================================== -->
				<div class="row page-titles">
					<div class="col-md-5 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Clientes</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Inicio</a></li>
							<li class="breadcrumb-item active">Clientes</li>
						</ol>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End Bread crumb and right sidebar toggle -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<!-- Modal -->
				<div class="modal fade" id="modalCreate" data-backdrop="static" data-keyboard="false" tabindex="-1"
					aria-hidden="true">
					<div id="formContainer" class="modal-dialog">
						<form action="/Clientes" method="post" id="form-create">
							<input type="hidden" name="id" value="" />
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalTitle"></h5>
									<button id="btnCloseModalCreate" type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtDni" class="mb-0">Dni: </label>
													<input id="txtDni" name="dni" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtNombre" class="mb-0">Nombre: </label>
													<input id="txtNombre" name="nombre" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtApellido" class="mb-0">Apellido: </label>
													<input id="txtApellido" name="apellido" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtTelefono" class="mb-0">Teléfono: </label>
													<input id="txtTelefono" name="telefono" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtDireccion" class="mb-0">Dirección: </label>
													<input id="txtDireccion" name="direccion" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtEmail" class="mb-0">Email: </label>
													<input id="txtEmail" name="email" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-12">
											<div class="form-column">
												<div class="col-12 mb-3">
													<label for="txtPassword" class="mb-0">Password: </label>
													<input id="txtPassword" name="password" type="text" class="form-control" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
									<button id="btnSendModal" type="button"
										class="btn btn-success waves-effect waves-light">Agregar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="row">
					<div class="col-12">
						<div class="card shadow">
							<div class="card-body">
								<div class="d-flex flex-row justify-content-between">
									<h2 class="card-title">Listado de clientes</h2>
									<button id="btnAdd" type="button"
										class="btn btn-info btn-rounded waves-effect waves-light m-t-10 float-right" data-toggle="modal"
										data-target="#modalCreate">Agregar cliente</button>
								</div>
								<div class="table-responsive m-t-10">
									<table id="DataTable" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>DNI</th>
												<th>Nombre</th>
												<th>Dirección</th>
												<th>Teléfono</th>
												<th>Email</th>
												<th class="text-center">Acción</th>
											</tr>
										</thead>
										<tbody id="table_body">
											<tr th:each="cliente : ${clientes}" th:attr="data-id=${cliente.ID}">
												<td th:text="${cliente.dni}"></td>
												<td th:text="${cliente.apellido} +', '+${cliente.nombre}"></td>
												<td th:text="${cliente.direccion}"></td>
												<td th:text="${cliente.telefono}"></td>
												<td th:text="${cliente.user.email}"></td>
												<td class='d-flex justify-content-center'>
													<button th:if="${user_role == '[ADMIN]'}" type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' th:attr="data-cliente=${cliente.toJson()}" onclick="edit(this.getAttribute('data-cliente'))" data-toggle="modal" data-target="#modalCreate">
														<i class="bi bi-pencil"></i>
													</button>
													<button th:if="${user_role == '[ADMIN]'}" type='button' class='btn btn-danger btn-rounded btn-sm ml-2' th:attr="data-id=${cliente.ID}" onclick="deleteObj(this.getAttribute('data-id'))">
														<i class='bi bi-trash3'></i>
													</button>
													<button class='btn btn-outline-dark btn-sm ml-2 btn-rounded' th:attr="data-id=${cliente.ID}" onclick="selectPersona(this.getAttribute('data-id'))" >Seleccionar</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<form id="form-delete" method="DELETE" action="/Clientes">
					<input type="hidden" name="id" value="">
				</form>

			</div>

		</main>
		<div th:replace="Shared/Footer :: footer"></div>
		<div th:replace="Shared/Scripts:: scripts"></div>


		<!-- Data table -->
		<link href="../../static/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
		
		<!-- This is data table -->
		<script src="../../static/lib/datatables/datatables.min.js"></script>
		<script src="../../static/js/custom/Clientes/index.js"></script>
	</div>
</body>

</html>