<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon.png">
	<title>Reservas</title>

	<div th:replace="Shared/Styles:: styles"></div>
</head>

<body class="fix-header fix-sidebar card-no-border mini-sidebar">
	<div th:replace="Shared/Preloader:: preloader"></div>

	<div id="main-wrapper">
		<div th:replace="Shared/Header:: header"></div>
		<div th:replace="Shared/Aside:: aside"></div>

		<main class="page-wrapper">
			<!-- Acá va el contenido de cada página -->

			<div class="container-fluid">
				<!-- ============================================================== -->
				<!-- Bread crumb and right sidebar toggle -->
				<!-- ============================================================== -->
				<div class="row page-titles">
					<div class="col-md-5 col-8 align-self-center">
						<h3 class="text-themecolor m-b-0 m-t-0">Reservas</h3>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Inicio</a></li>
							<li class="breadcrumb-item active">Reservas</li>
						</ol>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End Bread crumb and right sidebar toggle -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Start Page Content -->
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-12">
						<div class="card shadow">
							<div class="card-body">
								<h2 class="card-title">Listado de reservas</h2>
								<div class="table-responsive m-t-10">
									<table id="DataTable" class="table table-bordered table-striped">
										<thead>
											<tr>
												<th>Cliente</th>
												<th>Producto</th>
												<th>Precio pactado</th>
												<th>Cantidad</th>
												<th>Subtotal</th>
												<th>Total</th>
												<th>Acción</th>
											</tr>
										</thead>
										<tbody id="table_body">
											<tr th:each="reserva : ${reservas}" th:attr="data-id=${reserva.ID}">
												<td th:text="${reserva.cliente.apellido} + ', ' + ${reserva.cliente.nombre}"></td>
												<td>
													<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="${reservaProducto.producto.descripcion}+ '<br>'"></span>
												</td>
												<td>
													<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="'$' + ${reservaProducto.precio}+ '<br>'"></span>
												</td>
												<td>
													<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="${reservaProducto.cantidad}+ '<br>'"></span>
												</td>
												<td>
													<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="'$' + ${(reservaProducto.cantidad)*(reservaProducto.precio)}+ '<br>'"></span>
												</td>
												<td>
													<span th:attr="data-total=${reserva.toJson()}" name="calculateTotal"></span>
												</td>
												<td class='d-flex justify-content-center align-items-center'>
													<button type='button' class='btn btn-danger btn-rounded btn-sm' th:attr="data-id=${reserva.ID}" onclick="deleteObj(this.getAttribute('data-id'))">
														<i class='bi bi-trash3'></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<form id="form-delete" method="DELETE" action="/Reservas">
					<input type="hidden" name="id" value="">
				</form>

			</div>

		</main>
		<div th:replace="Shared/Footer :: footer"></div>
		<div th:replace="Shared/Scripts:: scripts"></div>


		<!-- Data table -->
		<link href="../../static/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

		<!-- This is data table -->
		<script src="../../static/lib/datatables/datatables.min.js"></script>
		<script src="../../static/js/custom/Reservas/index.js"></script>
	</div>
</body>

</html>