<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Reservas</title>
		<link rel="icon" type="image/jpg" href="../../static/images/favicon.png" />
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../../static/css/mis-estilos.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	<div th:replace="Shared/Header:: header"></div>



<!-- Modal -->
	<div class="modal fade" id="modalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
		<div id="formContainer" class="modal-dialog">
			<form action="/Reservas" method="post" id="form-create">
				<input type="hidden" name="id" value="" />
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalTitle"></h5>
						<button id="btnCloseModalCreate" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12">
                <div class="form-column">
									<div class="col-12 mb-3">
										<label for="comboClientes" class="mb-0">Cliente: </label>
										<select id="comboClientes" name="comboClientes" class="form-control" >
											<option value='' disabled selected>--Seleccione un cliente--</option>
											<option th:each="cliente : ${clientes}" th:text="${cliente.user.email}" th:value="${cliente.ID}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
                <div class="form-column">
									<div class="col-12 mb-3">
										<label for="comboProductos" class="mb-0">Producto: </label>
										<select id="comboProductos" name="comboProductos" class="form-control" >
											<option value='' disabled selected>--Seleccione un producto--</option>
											<option th:each="producto : ${productos}" th:text="${producto.descripcion}" th:value="${producto.ID}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
                <div class="form-column">
									<div class="col-12 mb-3">
										<label for="txtPrecio" class="mb-0">Precio Pactado (Ver para cad producto): </label>
										<input id="txtPrecio" name="precio" type="text" th:value="a" class="form-control"/>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-column">
									<div class="col-12 mb-3">
										<label for="txtCantidad" class="mb-0">Cantidad: (Ver para cad producto)</label>
										<input id="txtCantidad" name="Cantidad" type="text" class="form-control" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default waves-effect" data-bs-dismiss="modal">Cerrar</button>
						<button id="btnSendModal" type="button" class="btn btn-success waves-effect waves-light">Agregar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<main>
		<h1 class="text-center mt-5">Reservas</h1>
		<div id="tabla-reserva" class="container body-content mt-5">
			<table id='DataTable' class='table table-oscura table-striped table-bordered table-hover'>
				<thead>
					<tr class='fw-bold'>
						<td>Cliente</td>
						<td>Producto</td>
						<td>Precio pactado</td>
						<td>Cantidad</td>
						<td>Subtotal</td>
						<td>Total</td>
						<td class='no-sort text-center'>Accion</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="reserva : ${reservas}" th:attr="data-id=${reserva.ID}">
						<td th:text="${reserva.cliente.nombre}"></td>
						<td>
							<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="${reservaProducto.producto.descripcion}+ '<br>'"></span>
						</td>
						<td>
							<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="${reservaProducto.precio}+ '<br>'"></span>
						</td>
						<td>
							<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="${reservaProducto.cantidad}+ '<br>'"></span>
						</td>
						<td>
							<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="${(reservaProducto.cantidad)*(reservaProducto.precio)}+ '<br>'"></span>
						</td>
						<td>
							<span th:each="reservaProducto : ${reserva.reservasProductos}" th:utext="CALCULAR+ '<br>'"></span>
						</td>
						<td class='d-flex justify-content-center'>
							<button type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' th:attr="data-reserva=${reserva.toJson()}" onclick="edit(this.getAttribute('data-reserva'))" data-bs-toggle="modal" data-bs-target="#modalCreate"><i class="bi bi-pencil"></i></button>
							<button type='button' class='btn btn-danger btn-rounded btn-sm ml-2' th:attr="data-id=${reserva.ID}" onclick="deleteObj(this.getAttribute('data-id'))"><i class='bi bi-trash3'></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr />			
		<div class="container">
			<button id="btnAdd" class="btn btn-success mb-5 mt-2 px-4" data-bs-toggle="modal" data-bs-target="#modalCreate">
				Agregar
			</button>
		</div>

		<form id="form-delete" method="DELETE" action="/Reservas">
			<input type="hidden" name="id" value="">
		</form>

	</main>



	<div th:replace="Shared/Footer :: footer"></div>
	
	
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/modernizr-2.8.3.js"></script>
	<script src="../../static/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
	
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- <script src="../static/js/"></script> -->
	</body>
</html>