<header style="margin-bottom: 6rem">
	<div class="navbar navbar-dark bg-dark navbar-inverse fixed-top py-3">
		<div class="navbar-header d-flex flex-row">
			<a class="navbar-brand mx-5" href="/">
				<img src="../../static/images/Logo.png" alt="Logo veterinaria" width="50" height="50">
			</a>
			<a class="navbar-brand my-auto" href="/Especies/Index">Especies</a>        	            
			<a class="navbar-brand my-auto" href="/Razas/Index">Razas</a>
			<a class="navbar-brand my-auto" href="/Veterinarios/Index">Veterinarios</a>
			<a class="navbar-brand my-auto" href="/Practicas/Index">Practicas</a>             	            
			<a class="navbar-brand my-auto" href="/Clientes/Index">Clientes</a>             	                     	            
			<a class="navbar-brand my-auto" href="/Proveedores/Index">Proveedores</a>
			<a class="navbar-brand my-auto" href="/Productos/Index">Productos</a>
			<a class="navbar-brand my-auto" href="/Reservas/Index">Reservar productos</a>
			<form action="/logout" method="POST" >
				<input type="submit" class="btn btn-danger" value="Cerrar sesión">
			</form>
			
		</div>
	</div>  
</header>