<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon.png">
        <title>Inicio</title>

        <div th:replace="Shared/Styles:: styles"></div>
	</head>
	<body class="fix-header fix-sidebar card-no-border mini-sidebar">
		<div th:replace="Shared/Preloader:: preloader"></div>
        
        <div id="main-wrapper">
            <div th:replace="Shared/Header:: header"></div>
            <div th:replace="Shared/Aside:: aside"></div>

            <main class="page-wrapper">
                <!-- Acá va el contenido de cada página -->
                
            </main>
            <div th:replace="Shared/Footer :: footer"></div>
            <div th:replace="Shared/Scripts:: scripts"></div>
        </div>
	</body>
</html>