<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/favicon.png">
        <title>Inicio</title>

        <div th:replace="Shared/Styles:: styles"></div>
	</head>
	<body class="fix-header fix-sidebar card-no-border mini-sidebar">
		<div th:replace="Shared/Preloader:: preloader"></div>
        
        <div id="main-wrapper">
            <div th:replace="Shared/Header:: header"></div>
            <div th:replace="Shared/Aside:: aside"></div>

            <main class="page-wrapper">
                <!-- Acá va el contenido de la página -->
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <div class="row page-titles">
                        <div class="col-md-5 col-8 align-self-center">
                            <h3 class="text-themecolor m-b-0 m-t-0">Inicio</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Bread crumb and right sidebar toggle -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <!-- Crear un contenido de bienvenida -->
                    <h1 class="text-center">Bienvenido a Pet Killer</h1>
                    <h3 class="text-center">El sistema de gestión de tu veterinaria</h3>

                    <div class="d-flex flex-row justify-content-center">
                        <a th:if="${user_role == '[USER]'}" href="/Reservas/Index" class="btn btn-info btn-rounded waves-effect waves-light mt-5 px-4 py-3">
                            Crear nueva reserva
                        </a>
                        <a th:if="${user_role == '[VET]'}" href="/Clientes/Index" class="btn btn-info btn-rounded waves-effect waves-light mt-5 px-4 py-3">
                            Ver clientes
                        </a>
                    </div>
                </div>
            </main>
            <div th:replace="Shared/Footer :: footer"></div>
            <div th:replace="Shared/Scripts:: scripts"></div>
        </div>
	</body>
</html>